apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: ratings-cpu-hpa
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1beta1
    kind: Deployment
    name: ratings-v2-mysql
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

